body{
    font-family: sans-serif;
    margin: 40px 20% 0 20%;
    line-height: 1.6;
    font-size: 20px;
}

.tab__nav{
    display: flex;
}

.tab__el{
    background-color: rgb(173, 173, 173);
    margin: 0 20px 0 20px;
    padding: 10px;
    list-style: none;
}

.tab__el--active{
    background-color: rgb(248, 255, 170);
    margin: 0;
    padding: 10px 10px 40px 10px;
}

.tab__content {
    background-color: rgb(194, 194, 194);
    margin: 0 20px 0 20px;
    padding: 10px;
    display: none;
}

.tab__content--active {
    display: block;
}