html{
   scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    margin: 0;
    line-height: 1.6;
    font-size: 20px;
}

.container{
   width: 80%;
   margin: 0 auto;
}
.section{
   height: 600px;
   margin: 50px 0;
}
.menu{
   position: fixed;
   left: 10px;
   top: 10px;

   /* Chrome 140 */
   /* scroll-target-group: auto; */
}

/* .menu__el a:target-current{
   color: red;
} */

.menu__el--active a{
    color: red;
}