body{
    font-family: sans-serif;
    margin: 0;
    line-height: 1.6;
    font-size: 20px;
}

button{
    font-size: 20px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.slider__btn{
    list-style: none;
}

button:hover{
    background-color: #000;
    color: #fff;
}

.slider__controls{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.slider{
    margin: 2% 5%;
    border: 2px solid #000;
    border-radius: 8px;
}

.slider__list{
    list-style: none;
    padding: 0;
    margin: 0;

    width: auto;
    height: 400px;
    overflow: hidden;
    position: relative;
    padding: 20px;
}

.slider__el{
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    
    & img{
        max-width: 70%;
        height: auto;
    }
    
    > :first-child{
        margin-right: -5%;
        opacity: 0;
        transform: translateX(10vw);
        transition: opacity .4s, transform .4s;
    }
    
    > :last-child{
        margin-left: -5%;
        opacity: 0;
        transform: translateX(-10vw);
        transition: opacity .4s, transform .4s;
    }
}

.slider__el--show{
    pointer-events: all;
    
    > :first-child{
        opacity: 1;
        transform: translateX(0);
    }
    
    > :last-child{
        opacity: 1;
        transform: translateX(0);
    }
}

.slider__content{
    background-color:#fff;
    padding: 15px;
    z-index: 10;
    width: 45%;
}